/* https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
.listSanPham {
  margin: 50px auto;
  border-collapse: collapse;
  width: 100%;
}

.listSanPham td {
  border: 1px solid #ddd;
}

/* Canh giữa cho cột stt và th */
.listSanPham tr td:first-child,
.listSanPham tr th {
  text-align: center;
}

/* Last child là dòng tổng tiền */
.listSanPham tr:last-child {
  text-align: center;
  background-color: #aaa;
}

.listSanPham tr:last-child button {
  margin: 10px 5px;
}

/* Số lượng */
.listSanPham .soluong {
  text-align: center;
}

.listSanPham .soluong button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

.listSanPham .soluong button:hover {
  background-color: #4caf50;
}

.listSanPham .soluong input {
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  width: 5em;
  height: 2em;
}

/* Link sản phẩm */
.noPadding {
  padding: 0 0 0 10px;
  line-height: 2.5em;
}

.listSanPham td a {
  display: block;
  position: relative;
  padding: 5px 0;
}

.listSanPham td a:hover {
  text-decoration: underline;
}

.smallImg {
  max-width: 100px;
  max-height: 100px;
}

/* Hình ảnh sản phẩm */
.imgHide img {
  position: absolute;
  right: -130px;
  width: 150px;
  height: 0;
  border-radius: 10px;
  transition-duration: 0.1s;
}

.imgHide a:hover img {
  height: 150px;
}

/* Cột Giá tiền canh lề phải */
.alignRight {
  text-align: right;
  padding-right: 30px;
}

/* Nút xóa */
.fa-trash {
  text-align: center;
  width: 100%;
  height: 100%;
  color: #999;
  cursor: pointer;
  transition-duration: 0.2s;
}

.fa-trash:hover {
  color: red;
  transform: scale(1.5);
}

/* Nút thanh toán */
.thanhtoan {
  background-color: #4caf50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.thanhtoan:hover {
  background-color: #45af20;
}

.xoaHet {
  border: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;
}

.xoaHet:hover {
  background-color: rgb(224, 65, 65);
}
